.page_slug_index {
    /*background: #eef5ff url(page_slug_index.jpg) no-repeat 94% 140px fixed;
    background-size: auto 100%;*/
    background: none;
}

.page_slug_index .content {
    padding: 160px 400px 60px 0;
    font-size: 22px;
}
