.footer
{

    background: url(../logo/logo.png) no-repeat, url(footer.jpg);
    background-size: auto 84%, auto;
    background-position: 53px center;
    background-color: #31466f;
    color: #fff;
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 25%;
}

.footer__center {
    flex-grow: 1;
    align-self: center
}

.footer__link,
.footer__link:hover {
    color: #ffd700;
}
