.logo {
    color: #31466f;
}

a.logo:hover {
    color: #ffd700;
}

.logo:before {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;

    content: "";

    background: url(logo.png) no-repeat;
    background-size: 100%;
}

.logo__name {
    font-size: 2em;
}

.logo__position {
    font-size: 18px;
    padding-left: 2px;
}
