.header {
    padding: 12px 0;
    color: #31466f;
    background: #fff;
}

.header .page__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contacts {
    line-height: 20px;
    order: 1;
}

.header__contacts_slug_index {
}

.header__contacts button::before {
    background-color: #ffd700;
}

.header__line:first-child {
    font-size: 28px;
}

.header__line:last-child {
    margin-top: 10px;
    text-align: center;
}

.header__line .button {
    margin: 6px 0;
}
