.header {
    padding-top: 12px;
    color: #31466f;
    background: #fff;
}

.header__contacts {
    float: right;
    line-height: 20px;
    margin-top: 20px;
}

.header__contacts_slug_index {
    margin-top: 30px;
}

.header__contacts button::before {
    background-color: #ffd700;
}

.header__line:first-child {
    font-size: 28px;
}

.header__line:last-child {
    margin-top: 10px;
    text-align: center;
}

.header__line .button {
    margin: 6px 0;
}
