html {
    height: 100%;
}

.page {
    margin: 0;
    padding: 0;
    min-height: 100%;

    font-family: "Times New Roman", Times, serif;

    background: url(page.png) no-repeat 80% 80% fixed;
    background-size: auto 70%;
}

.page__section {
    padding: 0 53px;
}
