.consultation {
    display: flex;
    flex-direction: column;

    max-width: 220px;
    padding: 20px;

    color: white;

    background-image: url(consultation.jpg);
    background-color: rgba(255, 215, 0, 0.5);
}

.consultation__name,
.consultation__phone,
.consultation__email,
.consultation__problem,
.consultation__confirm {
    margin-top: 16px;
}

.consultation__confirm .button::before {
    background-color: #ffd700;
}
