@font-face {
    font-family: 'DINPro-Regular';
    src: url(DINPro-Regular.woff);
}

.slide {
    position: relative;

    background: url(slide.jpg) no-repeat;
    background-position: 0 -70px;
    background-size: cover;
}

.slide__title {
    font-family: 'DINPro-Regular', PT Sans, sans-serif;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: -0.015em;

    position: absolute;

    margin: 0;

    top: 50%;
    transform: translateY(-50%);

    color: white;
}

.slide__consultation {
    float: right;
}
